/* CSS Document */
@font-face {
    font-family: 'pantonbold';
    src: url('../fonts/panton_bold-webfont.woff2') format('woff2'),
         url('../fonts/panton_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

td {
    text-align: center;
}

@font-face {
    font-family: 'pantonregular';
    src: url('../fonts/panton_regular-webfont.woff2') format('woff2'),
         url('../fonts/panton_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{outline: none;}

body{font-family: 'pantonregular';color: #606060;}
.navbar-inverse{background-color: transparent; border:none;}
.cb{clear: both;}
.fr{float: right;}
body .affix{padding: 0px 0px 30px;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear; background-color: #fff; width: 100%; z-index: 999;box-shadow: 2px 2px 10px #eee; border-radius: none;}
body .affix-top {
  -webkit-transition:padding 0.5s linear;
  -moz-transition:padding 0.5s linear;  
  -o-transition:padding 0.5s linear;         
  transition:padding 0.5s linear;  background-color: transparent;
  position: fixed; width: 100%;
}
.containerMenu{width: 1424px;}
.navbar{font-family: 'pantonregular'; font-size: 16px; color: #424242; padding-bottom: 10px;}
.navbar .nav{padding-top: 20px;}
.navbar .nav li a{color: #424242;}
.navbar .nav li a:hover{border-bottom: 2px solid #3cb1ca; background: url('../img/menuArrow.png') no-repeat center bottom;color: #424242;}
/*--------------Finsih Header Section here-----------------*/
.space{padding-top: 70px; border-bottom: 1px solid #e1e1e8;}
.title{font-family: 'pantonbold'; font-size: 48px; text-align: center; line-height: 64px; padding-bottom: 44px; color: #424242;}


/*--------------Start Section01 here-----------------*/
#section01{padding-bottom: 50px;}
.content{font-size: 16px;}
.content p{padding-top: 20px; line-height: 28px;}
.imgWrap{position: relative;}
.imgWrap img{position: absolute; left: -60px; top:-10px;}
.content a{margin-top: 20px;color: #3cb1ca; font-size: 18px; padding: 18px 54px 16px; border-radius: 4px; border: 2px solid #b1e0ea; text-transform: uppercase; background-color: #fff;
margin-right: 15px; float: left;text-decoration: none;}
.content a i{padding-right: 8px;font-size: 22px;}
.content button i{padding-right: 12px;font-size: 22px;}
.content a:hover{background-color: #3cb1ca; color: #fff;border: 2px solid #3cb1ca;}
.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}
/*--------------closed Section01 here-----------------*/
/*--------------Start Section02 here-----------------*/
#section02{padding-bottom: 80px;}
.howsContent{margin: 0px; padding: 0px; text-align: center;}
.howsContent li{display: inline-block; width: 280px; margin: 0px 5px;}
.howsContent li h3{font-size: 24px;font-family: 'pantonbold'; color: #606060; margin-top: 30px;}
.howsContent li p{font-size: 16px; line-height: 24px; padding: 0 20px; padding-top: 15px;}
.howsContent li button{margin-top: 20px;color: #3cb1ca; font-size: 18px; padding: 14px 22px; border-radius: 4px; border: 2px solid #b1e0ea; text-transform: uppercase; background-color: #fff;}
.howsContent li button:hover{background-color: #3cb1ca; color: #fff;border: 2px solid #3cb1ca;}
/*--------------closed Section02 here-----------------*/
/*--------------Start Section03 here-----------------*/
#section03 .title{padding-bottom: 20px;}
#section03 p{font-size: 16px; text-align: center;padding-bottom: 44px;}
#section03 p span{font-family: 'pantonbold';}
#section03 .imgBg{background: url('../img/areaBg01.jpg') no-repeat center center; padding: 0px; background-size: 100%; height: 500px;text-align: center;
-webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;overflow: hidden;}
#section03 .imgBg:hover{-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20); overflow: hidden;}
#section03 .imgBg01{background: url('../img/areaBg02.jpg') no-repeat center center;background-size: 100%;}
#section03 .imgBg02{background: url('../img/areaBg03.jpg') no-repeat center center;background-size: 100%;}
#section03 .imgBg03{background: url('../img/areaBg04.jpg') no-repeat center center;background-size: 100%;}
#section03 .imgBg img{padding-top: 138px;}
#section03 .imgBg h3{font-family: 'pantonbold'; font-size: 28px; color: #fff; padding-top: 90px; line-height: 36px;}
/*--------------closed Section03 here-----------------*/
/*--------------Start Section04 here-----------------*/
#section04{padding-bottom: 80px;}
#section04 .title{padding-bottom: 15px;}
#section04 p{font-size: 24px; text-align: center; padding-bottom: 44px;}
.WotMakWrap{width: 994px; margin: auto; text-align: center;}
.point-txt{text-align: center;font-size: 16px;}
.point-txt span{font-family: 'pantonbold';}
.bgpoint-img1{background: url('../img/wotMak-img01.png') no-repeat left center; height: 182px; padding-top: 80px; padding-right: 100px;}
.bgpoint-img2{background: url('../img/wotMak-img02.png') no-repeat right center; height: 182px; padding-top: 80px; padding-left: 280px; margin: 20px 0px;}
.bgpoint-img3{background: url('../img/wotMak-img03.png') no-repeat left center; height: 182px; padding-top: 62px; padding-right: 256px; padding-left: 200px;}
.whyBtn{display: block; text-align: center;margin-top: 50px;}
.WotMakWrap a{color: #3cb1ca; font-size: 18px; padding: 14px 40px; border-radius: 4px; border: 2px solid #b1e0ea; text-transform: uppercase; background-color: #fff;text-decoration: none;}
.WotMakWrap a:hover{background-color: #3cb1ca; color: #fff;border: 2px solid #3cb1ca;}
/*--------------closed Section04 here-----------------*/
/*--------------Start Section05 here-----------------*/
/*.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{left: 90%;}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{right: 90%;}*/
#section05, #section06{padding-bottom: 70px;}
.carousel-control{/*left: -24px;*/ width: auto; color: #3cb1ca;}
/*.carousel-control.right{right: -24px;}*/
#myCarousel .carousel-control a:hover{color: #3cb1ca;}
#myCarousel video{border: 10px solid #3cb1ca; width: 100%;}
.Vcaption{background-color: #3cb1ca; text-align: center; color: #fff; font-size: 20px;font-family: 'pantonbold'; padding: 10px 0 20px; margin-top: -6px;}
.carousel-indicators{display: none;}
/*--------------closed Section05 here-----------------*/
#section05 .carousel-control {background: none;font-size: 110px;top: 34%;}
#section05 .carousel-inner{width: 80%; margin: auto;}

/*--------------Start Section06 here-----------------*/
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 0px 0px 40px;
  margin-top: 30px;
  width: 100%;
}

/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
 /* background: none repeat scroll 0 0 #222222;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  height: 120px;
  width : 60px;
  margin-top: 30px;*/
  margin-left:15px;
  border: none;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  /*background: none repeat scroll 0 0 #222222;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  height: 120px;
  width : 60px;
  margin-top: 30px;*/
  margin-right: -15px;
  border: none;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
#recommendations a span{font-size: 18px;}
#recommendations .btn{padding: 0px; margin-top: -20px;}
.thumbnail{border: none; margin-bottom: 0px; padding: 0px;}
/*.media-carousel img
{
  width: 100%;
  height: 180px;
}*/
/* End carousel */
/*--------------closed Section06 here-----------------*/
/*--------------Start Section07 here-----------------*/
#section07{padding-bottom: 50px;}
.pdfFileWrap{font-size: 24px;font-family: 'pantonbold'; line-height: 42px; width: 90%; margin: auto;}
.pdfFileWrap li{display: inline-block; width: 49%; margin-bottom: 30px;}
.pdfFileWrap a{ color: #3cb1ca;}
.pdfFileWrap a img{padding-right: 20px; float: left;}
#section07 .carousel-control span{font-size: 56px;}
/*--------------closed Section07 here-----------------*/
/*--------------Start Section08 here-----------------*/
#section08{background-color: #3cb1ca; position: relative;}
.googleMap{width: 100%; height: 100%;}
.contactInfoWrap, .mapWrap{text-align: center;}
.mapWrap{position: absolute; right: 0px; height: 100%;}
.contactWrap{padding: 70px 0px 44px;}
.contactInfoWrap{color: #fff;padding: 50px 40px 70px 0px;}
.contactInfoWrap h1{font-size: 48px;font-family: 'pantonbold'; padding-bottom: 20px;}
.contactInfoWrap p{font-size: 16px;font-family: 'pantonregular'; }
.contactInfo{font-size: 20px;font-family: 'pantonregular'; margin-bottom: 18px; text-align: left;}
.contactInfo img{margin-right: 18px; float: left;}
.contactInfo span{padding-top: 2px; float: left;}
.contactInfo .call{padding-top: 18px;}
.contactInfoWrap button{margin-top: 15px;color: #3cb1ca; font-size: 18px; padding: 14px 40px; border-radius: 4px; border: none; text-transform: uppercase; background-color: #fff;}
/*--------------closed Section08 here-----------------*/
footer{background-color: #3c4346; margin: 0px; padding: 28px 0px; color: #8c8c8c; font-size: 12px; font-family: arial;}
.sociaLinks{text-align: right;}
.copyrite a{color: #fff;}
.copyrite span{margin-left: 12px;}
.sociaLinks a{padding: 0 16px;}

.CareersPage{
    background: rgba(255, 255, 255, 0.95);
   /* position: absolute;
    width: 100%;
    top: 0px;
    z-index: 999;*/
}
.PDF-form{background: rgba(255, 255, 255, 0.90);}
.PDF-form #mlb2-4818416 .subscribe-form{margin: 0 auto; }
.topTitle{font-size: 24px; text-align: center; border-bottom: 1px solid #dddddd;border-top: 1px solid #dddddd; padding: 34px 0px 40px;font-family: 'pantonbold';}
.topTitle a{color: #fff; font-size: 18px; padding: 14px 30px; border-radius: 4px; border: none; text-transform: uppercase; background-color: #3cb1ca; margin-left: 40px; text-decoration: none;}
.topTitle a:hover{background-color: #43bad4;}
.CareersWrap p{font-size: 16px; font-family: 'pantonregular'; line-height: 28px; padding: 50px 0px; margin-bottom: 0px;}
.contentBox{font-size: 16px; font-family: 'pantonregular'; line-height: 28px; padding: 20px 20px 20px 38px; border: 2px solid #3cb1ca; box-shadow: 1px 5px 10px #ccc; width: 80%; margin: 0 auto 25px; position: relative;}
.contentBox span{position: absolute; border-radius: 30px; color: #fff;background-color: #3cb1ca;font-size: 24px; top:0px; bottom: 0px; margin: auto; left:-24px; height: 45px; width: 45px;
text-align: center; padding: 8px 0px;}
.txtBlueBox{background-color: #1592ad; border: 17px solid #3cb1ca;font-size: 16px; font-family: 'pantonregular'; line-height: 28px; padding: 28px; color: #fff; min-height: 230px;}
.closeButton{padding-top: 70px; padding-bottom: 18px;}
.closeButton .close{opacity: 1;}
.closeButton .back{float: left;}
.CareersWrap h3{font-size: 24px; text-align: center; margin: 0px 0px 44px 0px;font-family: 'pantonbold';}

.CareersOpeningPage{background-color: #fff;}
.CareersOpeningPage .CareersWrap p{text-align: center; padding: 0px 0px 44px 0px;border-bottom: 1px solid #dddddd;}
.CareersOpeningPage .CareersWrap .tab-content p{text-align: left; padding: 0px 0px 24px 0px;border:none;}
.CareersOpeningPage .CareersWrap h4{font-size: 24px; text-align: left; margin: 34px 0px 30px 0px;font-family: 'pantonbold';}
.CareersOpeningPage .CareersWrap .tab-content a{margin-top: 12px;color: #3cb1ca; font-size: 18px; padding: 14px 22px; border-radius: 4px; border: 2px solid #b1e0ea; text-transform: uppercase; background-color: #fff; float: left; text-decoration: none;}
.CareersOpeningPage .CareersWrap .tab-content a:hover{background-color: #3cb1ca; color: #fff;border: 2px solid #3cb1ca;}
.CareersOpeningPage .CareersWrap .tab-content{border-left: 1px solid #dddddd; padding-left: 24px; margin-top: 20px;}
.CareersOpeningPage ul.nav-pills{padding-right: 20px; padding-top: 22px;}
.nav-pills li{border-bottom: 1px solid #dddddd; padding-bottom: 20px; padding-top: 20px;}
.nav-pills li a{font-size: 20px;font-family: 'pantonbold';color:#606060;}
.nav-pills li a:hover{background-color: #fff;color:#3cb1ca;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{background-color: #fff; color:#3cb1ca;}

.navbar-inverse .navbar-toggle .icon-bar{background-color:#fff;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{background-color:#3cb1ca;}
.navbar-inverse .navbar-toggle{background-color:#3cb1ca;border-color:#3cb1ca;}

.nav li.hidethis{display: none;}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{color: #424242;}
.videopopup{background: rgba(255, 255, 255, 0.95);}
.videopopup video{width: 100%;}
.carousel-linked-nav{display: none;}
.vidWrap{width: 80%; margin: auto; float: none;}
.carousel-control{opacity: 1 !important; text-shadow:none !important;}
.carousel-control:focus, .carousel-control:hover{color:#b8b8bd;}
.contactInfoWrap button:hover{background-color: #89c9d7; color: #fff;}

#recommendations .carousel-control .glyphicon-chevron-left, 
#recommendations .carousel-control .glyphicon-chevron-right{top:58%;}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right{top:38%;}



@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');
#mlb2-4818416,
#mlb2-4818416 *,
#mlb2-4818416 a:hover,
#mlb2-4818416 a:visited,
#mlb2-4818416 a:focus,
#mlb2-4818416 a:active {
  overflow: visible;
  position: static;
  background: none;
  border: none;
  bottom: auto;
  clear: none;
  cursor: default;
  float: none;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  max-height: none;
  max-width: none;
  left: auto;
  min-height: 0;
  min-width: 0;
  right: auto;
  top: auto;
  width: auto;
  z-index: auto;
  text-shadow: none;
  box-shadow: none;
  outline: medium none;
}

#mlb2-4818416 a:hover {
  cursor: pointer !important;
}

#mlb2-4818416 h4 {
  font-weight: normal;
}

#mlb2-4818416 .subscribe-form {
  padding: 20px;
  width: 565px !important;
  border: 2px solid #F6F6F6 !important;
  background: #f6f6f6 none !important;
  border-radius: 0px !important;
  box-sizing: border-box !important;
}

#mlb2-4818416 .ml-block-form {
  margin-bottom: 0px;
}

#mlb2-4818416 .subscribe-form .form-section {
  margin-bottom: 20px;
  width: 100%;
}

#mlb2-4818416 .subscribe-form .form-section.mb10 {
  margin-bottom: 10px;
  float: left;
}

#mlb2-4818416 .subscribe-form .form-section.mb0 {
  margin-bottom: 0px;
}

#mlb2-4818416 .subscribe-form .form-section h4 {
  margin: 0px 0px 10px 0px !important;
  padding: 0px !important;
  color: #000000 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 29px !important;
  line-height: 100%;
  text-align: left !important;
}

#mlb2-4818416 .subscribe-form .form-section p,
#mlb2-4818416 .subscribe-form .form-section li {
  line-height: 150%;
  padding: 0px !important;
  margin: 0px 0px 10px 0px;
  color: #000000 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px !important;
}

#mlb2-4818416 .subscribe-form .form-section a {
  font-size: 16px !important;
}

#mlb2-4818416 .subscribe-form .form-section .confirmation_checkbox {
  line-height: 150%;
  padding: 0px !important;
  margin: 0px 0px 15px 0px !important;
  color: #000000 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
}

#mlb2-4818416 .subscribe-form .form-section .confirmation_checkbox input[type="checkbox"] {
  margin-right: 5px !important;
}

#mlb2-4818416 .subscribe-form .form-section .form-group {
  margin-bottom: 15px;
}

#mlb2-4818416 .subscribe-form .form-section .form-group label {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  line-height: 100%;
  color: #000000 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px !important;
}

#mlb2-4818416 .subscribe-form .form-section .checkbox {
  width: 100%;
  margin: 0px 0px 10px 0px;
}

#mlb2-4818416 .subscribe-form .form-section .checkbox label {
  color: #000000 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px !important;
}

#mlb2-4818416 .subscribe-form .form-section .checkbox input {
  margin: 0px 5px 0px 0px;
}

#mlb2-4818416 .subscribe-form .form-section .checkbox input[type=checkbox] {
  -webkit-appearance: checkbox;
}

#mlb2-4818416.ml-subscribe-form .form-group .form-control {
  width: 100%;
  font-size: 13px;
  padding: 10px 10px;
  height: auto;
  font-family: Arial;
  border-radius: 0px;
  border: 1px solid #cccccc !important;
  color: #000000 !important;
  background-color: #FFFFFF !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: left;
}

#mlb2-4818416.ml-subscribe-form button {
  border: none !important;
  cursor: pointer !important;
  width: 100% !important;
  border-radius: 0px !important;
  height: 42.5px !important;
  background-color: #41B1CB !important;
  color: #FFFFFF !important;
  font-family: 'Arial', sans-serif !important;
  font-size: 17px !important;
  text-align: center !important;
  padding: 0 !important;
  margin: 0 !important;
  position: relative!important;
}

#mlb2-4818416.ml-subscribe-form button.gradient-on {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

#mlb2-4818416.ml-subscribe-form button.gradient-on:hover {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    }
   
    #mlb2-4818416.ml-subscribe-form button[disabled] {
        cursor: not-allowed!important;
    }
   
    #mlb2-4818416.ml-subscribe-form .form-section.ml-error label {
        color: red!important;
    }
   
    #mlb2-4818416.ml-subscribe-form .form-group.ml-error label {
        color: red!important;
    }
   
    #mlb2-4818416.ml-subscribe-form .form-group.ml-error .form-control {
        border-color: red!important;
    }


@media only screen and (max-width: 1370px) {
    .containerMenu{width: 100%;}
    .nav>li>a{padding: 10px;}
}
@media only screen and (max-width: 1024px) {
.containerMenu{width: 100%;}
.navbar-header{width: 18%;}
.navbar-collapse{width: 80%; float: right;}
.nav > li > a{padding: 6px;}
.navbar-nav{float: right; text-align: right;}
.navbar-nav > li{float: none; display: inline-block;}
.headline h1{font-size: 48px; line-height: 54px;}
.headline{padding:170px 0 0px;}
.title{font-size: 36px; line-height: 54px;}
.imgWrap{display: none;}
.content{text-align: center;}
.howsContent li{display: block; margin: 0px auto 50px; width: 80%;}
.WotMakWrap{width: 96%;}
.bgpoint-img1,.bgpoint-img2,.bgpoint-img3{background-image: none; border: 5px solid #536e79; padding: 20px; height: auto; margin: 20px auto; width: 98%; color: #fff;}

.bgpoint-img1{background-color: #50cce7;}
.bgpoint-img2{background-color: #fcb453;}
.bgpoint-img3{background-color: #ff6468;}

.media-carousel .carousel-control.right{margin-right: 0px;}
.media-carousel .carousel-control.left{margin-left: 0px;}
.carousel-control{left: 0px;}
#section07 .carousel-control.left{left: -16px;}
#section07 .carousel-control.right{right: 14px;}

.col-lg-2{margin-bottom: 20px;}
.pdfFileWrap{width: 100%; font-size: 18px;}
.carousel-control.right{right: 0px;}
.contactInfoWrap{text-align: left;}
#section02{padding-bottom: 40px;}
}

@media (max-width: 768px) {
    #mlb2-4818416 {
        width: 100% !important;
    }
    #mlb2-4818416 form.ml-block-form,
    #mlb2-4818416 .subscribe-form {
        width: 100% !important;
    }
}
@media only screen and (max-width: 767px){
    body .affix{padding: 0px 0px 46px;}
    .fr{float: none;}
    .navbar-header{width:auto; padding-right: 15px;}
    .containerMenu{width: 100%;}
    
    .navbar-collapse{border: none; padding-top: 10px;}
    
    .navbar-toggle{margin-top: 18px; margin-bottom: 0px;}
    .navbar{margin-bottom: 10px;}
    .navbar-nav{display: block; text-align: left; width: 100%;}
    .navbar-nav > li{display: block; text-align: left; width: 100%;}
    .collapse.in{background-color: #fff; width: 100%; margin-top: 40px; padding-bottom: 10px;}
    .headline{padding: 210px 0 0px;}
    .headline h1 {font-size: 28px;line-height: 36px;}
    .title {font-size: 24px;line-height: 36px;}
    #section03 p{font-size: 15px; padding: 0 10px 30px;}
    #section03 .imgBg{height: 468px;}
    .content a{margin-right: 0px; width: 100%;}
    #section05 .carousel-control{top:7%;}
    #section05 .carousel-inner{width: 96%;}
    .carousel-control.left{left: -30px;}
    .carousel-control.right{right: -28px;}
    .pdfFileWrap li{display: block; width: 100%;}
    .contactInfoWrap h1{font-size: 24px;}
    .contactInfo span{width: 100%;}
    .sociaLinks{text-align: center;}
    .sociaLinks span{width: 100%;float: left;text-align: center; margin-bottom: 10px;}
    .copyrite{margin-bottom: 10px; text-align: center;}
    .topTitle a{margin-left: 0px; margin-top: 10px; display: block; font-size: 16px;}
    .txtBlueBox{margin-bottom: 20px;}
    .topTitle{font-size: 22px;}
    

}




   
