.navbar,
body {
	font-family: pantonregular
}

#section03 .imgBg,
#section03 p,
.Vcaption,
.WotMakWrap,
.contactInfoWrap,
.howsContent,
.mapWrap,
.point-txt,
.title,
.whyBtn,
td {
	text-align: center
}

.WotMakWrap a,
.content a,
.topTitle a {
	text-decoration: none
}

@font-face {
	font-family: pantonbold;
	src: url(../fonts/panton_bold-webfont.woff2) format('woff2'), url(../fonts/panton_bold-webfont.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: pantonregular;
	src: url(../fonts/panton_regular-webfont.woff2) format('woff2'), url(../fonts/panton_regular-webfont.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

* {
	outline: 0
}

body {
	color: #606060
}

.navbar,
.navbar .nav li a,
.title {
	color: #424242
}

.navbar-inverse {
	background-color: transparent;
	border: none
}

.cb {
	clear: both
}

.fr {
	float: right
}

body .affix {
	padding: 0 0 30px;
	-webkit-transition: padding .2s linear;
	-moz-transition: padding .2s linear;
	-o-transition: padding .2s linear;
	transition: padding .2s linear;
	background-color: #fff;
	width: 100%;
	z-index: 999;
	box-shadow: 2px 2px 10px #eee;
	border-radius: none
}

body .affix-top {
	-webkit-transition: padding .5s linear;
	-moz-transition: padding .5s linear;
	-o-transition: padding .5s linear;
	transition: padding .5s linear;
	background-color: transparent;
	position: fixed;
	width: 100%
}

.containerMenu {
	width: 1424px
}

.navbar {
	font-size: 16px;
	padding-bottom: 10px
}

#section03 .imgBg h3,
#section03 p span,
.Vcaption,
.contactInfoWrap h1,
.howsContent li h3,
.pdfFileWrap,
.point-txt span,
.title {
	font-family: pantonbold
}

.navbar .nav {
	padding-top: 20px
}

.navbar .nav li a:hover {
	border-bottom: 2px solid #3cb1ca;
	background: url(../img/menuArrow.png) center bottom no-repeat;
	color: #424242
}

.space {
	padding-top: 70px;
	border-bottom: 1px solid #e1e1e8
}

.title {
	font-size: 48px;
	line-height: 64px;
	padding-bottom: 44px
}

#section01 {
	padding-bottom: 50px
}

.content {
	font-size: 16px
}

.content p {
	padding-top: 20px;
	line-height: 28px
}

.imgWrap {
	position: relative
}

.imgWrap img {
	position: absolute;
	left: -60px;
	top: -10px
}

.content a {
	margin-top: 20px;
	color: #3cb1ca;
	font-size: 18px;
	padding: 18px 54px 16px;
	border-radius: 4px;
	border: 2px solid #b1e0ea;
	text-transform: uppercase;
	background-color: #fff;
	margin-right: 15px;
	float: left
}

.content a i {
	padding-right: 8px;
	font-size: 22px
}

.content button i {
	padding-right: 12px;
	font-size: 22px
}

.content a:hover {
	background-color: #3cb1ca;
	color: #fff;
	border: 2px solid #3cb1ca
}

.carousel-linked-nav,
.item img {
	display: block;
	margin: 0 auto
}

#section02 {
	padding-bottom: 80px
}

.howsContent {
	margin: 0;
	padding: 0
}

.howsContent li {
	display: inline-block;
	width: 280px;
	margin: 0 5px
}

.howsContent li h3 {
	font-size: 24px;
	color: #606060;
	margin-top: 30px
}

.howsContent li p {
	font-size: 16px;
	line-height: 24px;
	padding: 15px 20px 0
}

.howsContent li button {
	margin-top: 20px;
	color: #3cb1ca;
	font-size: 18px;
	padding: 14px 22px;
	border-radius: 4px;
	border: 2px solid #b1e0ea;
	text-transform: uppercase;
	background-color: #fff
}

.howsContent li button:hover {
	background-color: #3cb1ca;
	color: #fff;
	border: 2px solid #3cb1ca
}

.WotMakWrap a,
.contactInfoWrap button {
	border-radius: 4px;
	text-transform: uppercase
}

#section03 .title {
	padding-bottom: 20px
}

#section03 p {
	font-size: 16px;
	padding-bottom: 44px
}

#section03 .imgBg {
	background: url(../img/areaBg01.webp) center center no-repeat;
	padding: 0;
	background-size: 100%;
	height: 500px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	overflow: hidden
}

#section03 .imgBg:hover {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: translatZ(0) scale(1.2);
	transform: translatZ(0) scale(1.2);
	overflow: hidden
}

#section03 .imgBg01 {
	background: url(../img/areaBg02.webp) center center no-repeat;
	background-size: 100%
}

#section03 .imgBg02 {
	background: url(../img/areaBg03.webp) center center no-repeat;
	background-size: 100%
}

#section03 .imgBg03 {
	background: url(../img/areaBg04.webp) center center no-repeat;
	background-size: 100%
}

#section03 .imgBg img {
	padding-top: 138px
}

#section03 .imgBg h3 {
	font-size: 28px;
	color: #fff;
	padding-top: 90px;
	line-height: 36px
}

.bgpoint-img1,
.bgpoint-img2 {
	padding-top: 80px;
	height: 182px
}

#section04 {
	padding-bottom: 80px
}

#section04 .title {
	padding-bottom: 15px
}

#section04 p {
	font-size: 24px;
	text-align: center;
	padding-bottom: 44px
}

.WotMakWrap {
	width: 994px;
	margin: auto
}

.point-txt {
	font-size: 16px
}

.bgpoint-img1 {
	background: url(../img/wotMak-img01.png) left center no-repeat;
	padding-right: 100px
}

.bgpoint-img2 {
	background: url(../img/wotMak-img02.png) right center no-repeat;
	padding-left: 280px;
	margin: 20px 0
}

.bgpoint-img3 {
	background: url(../img/wotMak-img03.png) left center no-repeat;
	height: 182px;
	padding-top: 62px;
	padding-right: 256px;
	padding-left: 200px
}

.whyBtn {
	display: block;
	margin-top: 50px
}

.carousel-indicators,
.carousel-linked-nav,
.nav li.hidethis {
	display: none
}

.WotMakWrap a {
	color: #3cb1ca;
	font-size: 18px;
	padding: 14px 40px;
	border: 2px solid #b1e0ea;
	background-color: #fff
}

.WotMakWrap a:hover {
	background-color: #3cb1ca;
	color: #fff;
	border: 2px solid #3cb1ca
}

#section05,
#section06 {
	padding-bottom: 70px
}

.carousel-control {
	width: auto;
	color: #3cb1ca
}

#myCarousel .carousel-control a:hover {
	color: #3cb1ca
}

#myCarousel video {
	border: 10px solid #3cb1ca;
	width: 100%
}

.Vcaption {
	background-color: #3cb1ca;
	color: #fff;
	font-size: 20px;
	padding: 10px 0 20px;
	margin-top: -6px
}

#section05 .carousel-control {
	background: 0 0;
	font-size: 110px;
	top: 34%
}

#section05 .carousel-inner {
	width: 80%;
	margin: auto
}

.media-carousel {
	margin-bottom: 0;
	padding: 0 0 0 40px;
	margin-top: 30px;
	width: 100%
}

.media-carousel .carousel-control.left {
	left: -12px;
	background-image: none;
	margin-left: 15px;
	border: none
}

.media-carousel .carousel-control.right {
	right: -12px!important;
	background-image: none;
	margin-right: -15px;
	border: none
}

.media-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0;
	margin-right: -19px
}

.media-carousel .carousel-indicators li {
	background: silver
}

.media-carousel .carousel-indicators .active {
	background: #333
}

#recommendations a span {
	font-size: 18px
}

#recommendations .btn {
	padding: 0;
	margin-top: -20px
}

.thumbnail {
	border: none;
	margin-bottom: 0;
	padding: 0
}

#section07 {
	padding-bottom: 50px
}

.pdfFileWrap {
	font-size: 24px;
	line-height: 42px;
	width: 90%;
	margin: auto
}

.pdfFileWrap li {
	display: inline-block;
	width: 49%;
	margin-bottom: 30px
}

.pdfFileWrap a {
	color: #3cb1ca
}

.pdfFileWrap a img {
	padding-right: 20px;
	float: left
}

#section07 .carousel-control span {
	font-size: 56px
}

#section08 {
	background-color: #3cb1ca;
	position: relative
}

.googleMap {
	width: 100%;
	height: 100%
}

.mapWrap {
	position: absolute;
	right: 0;
	height: 100%
}

.contactWrap {
	padding: 70px 0 44px
}

.contactInfoWrap {
	color: #fff;
	padding: 50px 40px 70px 0
}

.contactInfoWrap h1 {
	font-size: 48px;
	padding-bottom: 20px
}

.contactInfo,
.contactInfoWrap p {
	font-family: pantonregular
}

.contactInfoWrap p {
	font-size: 16px
}

.contactInfo {
	font-size: 20px;
	margin-bottom: 18px;
	text-align: left
}

.contactInfo img {
	margin-right: 18px;
	float: left
}

.contactInfo span {
	padding-top: 2px;
	float: left
}

.contactInfo .call {
	padding-top: 18px
}

.contactInfoWrap button {
	margin-top: 15px;
	color: #3cb1ca;
	font-size: 18px;
	padding: 14px 40px;
	border: none;
	background-color: #fff
}

footer {
	background-color: #3c4346;
	margin: 0;
	padding: 28px 0;
	color: #8c8c8c;
	font-size: 12px;
	font-family: arial
}

.sociaLinks {
	text-align: right
}

.copyrite a {
	color: #fff
}

.copyrite span {
	margin-left: 12px
}

.sociaLinks a {
	padding: 0 16px
}

.CareersPage {
	background: rgba(255, 255, 255, .95)
}

.PDF-form {
	background: rgba(255, 255, 255, .9)
}

.PDF-form #mlb2-4818416 .subscribe-form {
	margin: 0 auto
}

.topTitle {
	font-size: 24px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 34px 0 40px;
	font-family: pantonbold
}

.topTitle a {
	color: #fff;
	font-size: 18px;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
	text-transform: uppercase;
	background-color: #3cb1ca;
	margin-left: 40px
}

.CareersWrap p,
.contentBox {
	font-size: 16px;
	font-family: pantonregular;
	line-height: 28px
}

.topTitle a:hover {
	background-color: #43bad4
}

.CareersWrap p {
	padding: 50px 0;
	margin-bottom: 0
}

.contentBox {
	padding: 20px 20px 20px 38px;
	border: 2px solid #3cb1ca;
	box-shadow: 1px 5px 10px #ccc;
	width: 80%;
	margin: 0 auto 25px;
	position: relative
}

.contentBox span {
	position: absolute;
	border-radius: 30px;
	color: #fff;
	background-color: #3cb1ca;
	font-size: 24px;
	top: 0;
	bottom: 0;
	margin: auto;
	left: -24px;
	height: 45px;
	width: 45px;
	text-align: center;
	padding: 8px 0
}

.txtBlueBox {
	background-color: #1592ad;
	border: 17px solid #3cb1ca;
	font-size: 16px;
	font-family: pantonregular;
	line-height: 28px;
	padding: 28px;
	color: #fff;
	min-height: 230px
}

.CareersOpeningPage .CareersWrap h4,
.CareersWrap h3,
.nav-pills li a {
	font-family: pantonbold
}

.closeButton {
	padding-top: 70px;
	padding-bottom: 18px
}

.closeButton .close {
	opacity: 1
}

.closeButton .back {
	float: left
}

.CareersWrap h3 {
	font-size: 24px;
	text-align: center;
	margin: 0 0 44px
}

.CareersOpeningPage {
	background-color: #fff
}

.CareersOpeningPage .CareersWrap p {
	text-align: center;
	padding: 0 0 44px;
	border-bottom: 1px solid #ddd
}

.CareersOpeningPage .CareersWrap .tab-content p {
	text-align: left;
	padding: 0 0 24px;
	border: none
}

.CareersOpeningPage .CareersWrap h4 {
	font-size: 24px;
	text-align: left;
	margin: 34px 0 30px
}

.CareersOpeningPage .CareersWrap .tab-content a {
	margin-top: 12px;
	color: #3cb1ca;
	font-size: 18px;
	padding: 14px 22px;
	border-radius: 4px;
	border: 2px solid #b1e0ea;
	text-transform: uppercase;
	background-color: #fff;
	float: left;
	text-decoration: none
}

.CareersOpeningPage .CareersWrap .tab-content a:hover {
	background-color: #3cb1ca;
	color: #fff;
	border: 2px solid #3cb1ca
}

.CareersOpeningPage .CareersWrap .tab-content {
	border-left: 1px solid #ddd;
	padding-left: 24px;
	margin-top: 20px
}

.CareersOpeningPage ul.nav-pills {
	padding-right: 20px;
	padding-top: 22px
}

.nav-pills li {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	padding-top: 20px
}

.nav-pills li a {
	font-size: 20px;
	color: #606060
}

.nav-pills li a:hover,
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	background-color: #fff;
	color: #3cb1ca
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
	background-color: #3cb1ca
}

.navbar-inverse .navbar-toggle {
	background-color: #3cb1ca;
	border-color: #3cb1ca
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: #424242
}

.videopopup {
	background: rgba(255, 255, 255, .95)
}

.videopopup video {
	width: 100%
}

.vidWrap {
	width: 80%;
	margin: auto;
	float: none
}

.carousel-control {
	opacity: 1!important;
	text-shadow: none!important
}

.carousel-control:focus,
.carousel-control:hover {
	color: #b8b8bd
}

.contactInfoWrap button:hover {
	background-color: #89c9d7;
	color: #fff
}

#recommendations .carousel-control .glyphicon-chevron-left,
#recommendations .carousel-control .glyphicon-chevron-right {
	top: 58%
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
	top: 38%
}

#mlb2-4818416,
#mlb2-4818416 *,
#mlb2-4818416 a:active,
#mlb2-4818416 a:focus,
#mlb2-4818416 a:hover,
#mlb2-4818416 a:visited {
	overflow: visible;
	position: static;
	background: 0 0;
	border: none;
	bottom: auto;
	clear: none;
	cursor: default;
	float: none;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-indent: 0;
	text-transform: none;
	visibility: visible;
	white-space: normal;
	max-height: none;
	max-width: none;
	left: auto;
	min-height: 0;
	min-width: 0;
	right: auto;
	top: auto;
	width: auto;
	z-index: auto;
	text-shadow: none;
	box-shadow: none;
	outline: 0
}

#mlb2-4818416 a:hover {
	cursor: pointer!important
}

#mlb2-4818416 h4 {
	font-weight: 400
}

#mlb2-4818416 .subscribe-form {
	padding: 20px;
	width: 565px!important;
	border: 2px solid #F6F6F6!important;
	background: #f6f6f6!important;
	border-radius: 0!important;
	box-sizing: border-box!important
}

#mlb2-4818416 .subscribe-form .form-section .confirmation_checkbox,
#mlb2-4818416 .subscribe-form .form-section h4,
#mlb2-4818416 .subscribe-form .form-section li,
#mlb2-4818416 .subscribe-form .form-section p {
	padding: 0!important;
	color: #000!important;
	font-family: 'Source Sans Pro', sans-serif!important
}

#mlb2-4818416 .ml-block-form {
	margin-bottom: 0
}

#mlb2-4818416 .subscribe-form .form-section {
	margin-bottom: 20px;
	width: 100%
}

#mlb2-4818416 .subscribe-form .form-section.mb10 {
	margin-bottom: 10px;
	float: left
}

#mlb2-4818416 .subscribe-form .form-section.mb0 {
	margin-bottom: 0
}

#mlb2-4818416 .subscribe-form .form-section h4 {
	margin: 0 0 10px!important;
	font-size: 29px!important;
	line-height: 100%;
	text-align: left!important
}

#mlb2-4818416 .subscribe-form .form-section li,
#mlb2-4818416 .subscribe-form .form-section p {
	line-height: 150%;
	margin: 0 0 10px;
	font-size: 16px!important
}

#mlb2-4818416 .subscribe-form .form-section a {
	font-size: 16px!important
}

#mlb2-4818416 .subscribe-form .form-section .confirmation_checkbox {
	line-height: 150%;
	margin: 0 0 15px!important;
	font-size: 14px!important;
	font-weight: 400!important
}

#mlb2-4818416 .subscribe-form .form-section .checkbox label,
#mlb2-4818416 .subscribe-form .form-section .form-group label {
	font-family: 'Source Sans Pro', sans-serif!important;
	font-size: 16px!important;
	color: #000!important
}

#mlb2-4818416 .subscribe-form .form-section .confirmation_checkbox input[type=checkbox] {
	margin-right: 5px!important
}

#mlb2-4818416 .subscribe-form .form-section .form-group {
	margin-bottom: 15px
}

#mlb2-4818416 .subscribe-form .form-section .form-group label {
	float: left;
	margin-bottom: 10px;
	width: 100%;
	line-height: 100%
}

#mlb2-4818416 .subscribe-form .form-section .checkbox {
	width: 100%;
	margin: 0 0 10px
}

#mlb2-4818416 .subscribe-form .form-section .checkbox input {
	margin: 0 5px 0 0
}

#mlb2-4818416 .subscribe-form .form-section .checkbox input[type=checkbox] {
	-webkit-appearance: checkbox
}

#mlb2-4818416.ml-subscribe-form .form-group .form-control {
	width: 100%;
	font-size: 13px;
	padding: 10px;
	height: auto;
	font-family: Arial;
	border-radius: 0;
	border: 1px solid #ccc!important;
	color: #000!important;
	background-color: #FFF!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: left
}

#mlb2-4818416.ml-subscribe-form button {
	border: none!important;
	cursor: pointer!important;
	width: 100%!important;
	border-radius: 0!important;
	height: 42.5px!important;
	background-color: #41B1CB!important;
	color: #FFF!important;
	font-family: Arial, sans-serif!important;
	font-size: 17px!important;
	text-align: center!important;
	padding: 0!important;
	margin: 0!important;
	position: relative!important
}

#mlb2-4818416.ml-subscribe-form button.gradient-on {
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .2) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .2) 100%);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .2) 100%);
	background: linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .2) 100%)
}

#mlb2-4818416.ml-subscribe-form button.gradient-on:hover {
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .3) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .3) 100%);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .3) 100%);
	background: linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .3) 100%)
}

#mlb2-4818416.ml-subscribe-form button[disabled] {
	cursor: not-allowed!important
}

#mlb2-4818416.ml-subscribe-form .form-group.ml-error label,
#mlb2-4818416.ml-subscribe-form .form-section.ml-error label {
	color: red!important
}

#mlb2-4818416.ml-subscribe-form .form-group.ml-error .form-control {
	border-color: red!important
}

@media only screen and (max-width:1370px) {
	.containerMenu {
		width: 100%
	}
	.nav>li>a {
		padding: 10px
	}
}

@media only screen and (max-width:1024px) {
	.containerMenu {
		width: 100%
	}
	.navbar-header {
		width: 18%
	}
	.navbar-collapse {
		width: 80%;
		float: right
	}
	.nav>li>a {
		padding: 6px
	}
	.navbar-nav {
		float: right;
		text-align: right
	}
	.navbar-nav>li {
		float: none;
		display: inline-block
	}
	.headline h1 {
		font-size: 48px;
		line-height: 54px
	}
	.headline {
		padding: 170px 0 0
	}
	.title {
		font-size: 36px;
		line-height: 54px
	}
	.imgWrap {
		display: none
	}
	.content {
		text-align: center
	}
	.howsContent li {
		display: block;
		margin: 0 auto 50px;
		width: 80%
	}
	.WotMakWrap {
		width: 96%
	}
	.bgpoint-img1,
	.bgpoint-img2,
	.bgpoint-img3 {
		background-image: none;
		border: 5px solid #536e79;
		padding: 20px;
		height: auto;
		margin: 20px auto;
		width: 98%;
		color: #fff
	}
	.bgpoint-img1 {
		background-color: #50cce7
	}
	.bgpoint-img2 {
		background-color: #fcb453
	}
	.bgpoint-img3 {
		background-color: #ff6468
	}
	.media-carousel .carousel-control.right {
		margin-right: 0
	}
	.media-carousel .carousel-control.left {
		margin-left: 0
	}
	.carousel-control {
		left: 0
	}
	#section07 .carousel-control.left {
		left: -16px
	}
	#section07 .carousel-control.right {
		right: 14px
	}
	.col-lg-2 {
		margin-bottom: 20px
	}
	.pdfFileWrap {
		width: 100%;
		font-size: 18px
	}
	.carousel-control.right {
		right: 0
	}
	.contactInfoWrap {
		text-align: left
	}
	#section02 {
		padding-bottom: 40px
	}
}

@media (max-width:768px) {
	#mlb2-4818416,
	#mlb2-4818416 .subscribe-form,
	#mlb2-4818416 form.ml-block-form {
		width: 100%!important
	}
}

@media only screen and (max-width:767px) {
	body .affix {
		padding: 0 0 46px
	}
	.fr {
		float: none
	}
	.navbar-header {
		width: auto;
		padding-right: 15px
	}
	.containerMenu {
		width: 100%
	}
	.navbar-collapse {
		border: none;
		padding-top: 10px
	}
	.navbar-toggle {
		margin-top: 18px;
		margin-bottom: 0
	}
	.copyrite,
	.navbar,
	.sociaLinks span {
		margin-bottom: 10px
	}
	.navbar-nav,
	.navbar-nav>li {
		display: block;
		text-align: left;
		width: 100%
	}
	.copyrite,
	.sociaLinks,
	.sociaLinks span {
		text-align: center
	}
	.collapse.in {
		background-color: #fff;
		width: 100%;
		margin-top: 40px;
		padding-bottom: 10px
	}
	.headline {
		padding: 210px 0 0
	}
	.headline h1 {
		font-size: 28px;
		line-height: 36px
	}
	.title {
		font-size: 24px;
		line-height: 36px
	}
	#section03 p {
		font-size: 15px;
		padding: 0 10px 30px
	}
	#section03 .imgBg {
		height: 468px
	}
	.content a {
		margin-right: 0;
		width: 100%
	}
	#section05 .carousel-control {
		top: 7%
	}
	#section05 .carousel-inner {
		width: 96%
	}
	.carousel-control.left {
		left: -30px
	}
	.carousel-control.right {
		right: -28px
	}
	.pdfFileWrap li {
		display: block;
		width: 100%
	}
	.contactInfoWrap h1 {
		font-size: 24px
	}
	.contactInfo span {
		width: 100%
	}
	.sociaLinks span {
		width: 100%;
		float: left
	}
	.topTitle a {
		margin-left: 0;
		margin-top: 10px;
		display: block;
		font-size: 16px
	}
	.txtBlueBox {
		margin-bottom: 20px
	}
	.topTitle {
		font-size: 22px
	}
}